.gameHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

@media (max-width: 500px) {
  .gameHeader {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
}